<template>
  <div class="register">
    <b-container>
      <b-row>
        <b-col> <h1>Register Page</h1></b-col>
      </b-row>
      <b-row>
        <b-col>
          <h3>Register your credentials</h3>
        </b-col>
        <b-col>
          <b-form @submit="onSubmit" @reset="onReset" v-if="show">
            <b-form-group
              id="input-group-username"
              label="Username:"
              label-for="input-username"
              description="We'll never share your username with anyone else"
            >
              <b-form-input
                id="input-username"
                v-model="form.username"
                type="text"
                placeholder="Enter username"
                required
              ></b-form-input>
            </b-form-group>
            <b-form-group
              id="input-group-password"
              label="Password:"
              label-for="input-password"
              description="We'll never share your password with anyone else"
            >
              <b-form-input
                id="input-password"
                v-model="form.password"
                type="password"
                placeholder="Enter password"
                required
              ></b-form-input>
            </b-form-group>
            <b-form-group
              id="input-group-confirm"
              label="Confirm Password:"
              label-for="input-confirm"
              description="Confirm the password given before"
            >
              <b-form-input
                id="input-confirm"
                v-model="form.confirm"
                type="password"
                placeholder="Enter password"
                required
              ></b-form-input>
            </b-form-group>
            <b-form-group
              id="input-group-email"
              label="Email:"
              label-for="input-email"
              description="Your email will be used to send important news from Weather Node for Weather Node. We'll don't send you trash or garbage."
            >
              <b-form-input
                id="input-email"
                v-model="form.email"
                type="email"
                placeholder="Email"
                required
              ></b-form-input>
            </b-form-group>

            <b-button type="submit" variant="dark">Submit</b-button>
            <b-button type="submit" variant="light">Reset</b-button>
          </b-form>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
export default {
  data() {
    return {
      form: {
        username: "",
        password: "",
        confirm: "",
        email: "",
      },
      show: true,
    };
  },
  methods: {
    onSubmit(e) {
      e.preventDefault();
      alert(JSON.stringify(this.form));
      if (
        this.form.password === this.form.confirm &&
        this.form.password.length > 0
      ) {
        this.$http
          .post("url", {
            username: this.form.username,
            email: this.form.email,
            password: this.form.password,
          })
          .then((response) => {
            localStorage.setItem(
              "user",
              JSON.stringify(response.data.username)
            );
            localStorage.setItem("jwt", response.data.token);
            if (localStorage.getItem("jwt") != null) {
              this.$emit("loggedIn");
              if (this.$route.params.nextUrl != null) {
                this.$router.push(this.$route.params.nextUrl);
              } else {
                this.$router.push("/");
              }
            }
          })
          .catch((error) => {
            console.error(error);
          });
      } else {
        this.form.password = "";
        this.form.confirm = "";
        return alert("Password doesn't match");
      }
    },
    onReset(e) {
      e.preventDefault();
      this.form.username = "";
      this.form.password = "";
      this.form.confirm = "";
      this.form.email = "";
      this.show = false;
      this.$nextTick(() => (this.show = true));
    },
  },
};
</script>
